/* Styles.scss x- All imported files will be compiled. */

// Custom Bootstrap attributes
@import 'config';

// Specific Bootstrap Modules
@import 'bootstrap-custom';

// Custom Libraries
@import 'datatables/media/css/jquery.dataTables.css';
@import 'fancybox/source/jquery.fancybox.css';
@import 'blueimp-file-upload/css/jquery.fileupload.css';

// Mixins
@import 'mixins/custom';
@import 'mixins/grid';
@import 'mixins/images';

// Layout
@import 'layout/global-admin';
@import 'layout/header-admin';
@import 'layout/footer-admin';

// Pages
@import 'pages/donations-admin';


.fileinput-button {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: $brand-primary;
  color: #fff;
}
.fileinput-button span {
	font-size: 1.0em;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.available-maps-list {
  padding: 0; margin: 15px 0 0 0;
  list-style: none;
  height: 400px;
  overflow: auto;
  box-shadow: 0 0 3px #ccc;
}

.available-maps-list li {
  padding: 5px 15px;
}

.map-config-list {
  padding: 0;
  list-style: none;
}

.map-config-list li {
  padding: 5px 15px;
  background-color: #ccc;
  min-height: 30px;
}

.map-config-list-header span {
  width: 20%;
  display: block;
  float: left;
  text-align: center;
}

.map-config-list-header span:nth-child(1) {
  width: 40%;
  text-align: left;
}

.map-config-list li span {
  width: 40%;
  display: block;
  float: left;
}

.map-config-list li input {
  width: 20%;
  display: block;
  float: left;
  margin: 0 auto;
}