/* Styles.scss x- All imported files will be compiled. */

// Custom Bootstrap attributes
@import 'config';

// Specific Bootstrap Modules
@import 'bootstrap-custom';

// Custom Libraries
@import 'datatables/media/css/jquery.dataTables.css';
@import 'fancybox/source/jquery.fancybox.css';
@import 'blueimp-file-upload/css/jquery.fileupload.css';

@import 'vendor/datatables-bootstrap';

// Mixins
@import 'mixins/custom';
@import 'mixins/grid';
@import 'mixins/images';

// Layout
@import 'layout/global-admin';
@import 'layout/header-admin';
@import 'layout/footer-admin';

// Pages
@import 'pages/donations-admin';


.fileinput-button {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: $brand-primary;
  color: #fff;
}
.fileinput-button span {
	font-size: 1.0em;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}