@import "//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/jquery.dataTables.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css";

@import "variable-override.scss";
@import "bootstrap-override.scss";
//@import "bootstrap.scss";

body {
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-image: url('../img/full-background.jpg');
	// background-attachment: fixed;
}

.map-filter {
	padding: 0;
	margin: 0;
	list-style: none;
}

.map-filter li {
	float: left;
	margin: 0 5px;
}

.map-filter li.active {
	font-weight: bold;
}