.map-filter {
	@extend .col-sm-12;
	//@extend .col-md-6;
	
	margin: 0;
	list-style: none;

	// margin-bottom: 25px;
	
}

.map-filter li {

	@extend .col-md-2;
	margin: 5px 0;
	padding: 0;
}

.map-filter li.active {
	font-weight: bold;
}

.full-table {
	//@include .table;
	// @extend .table-striped;
	//@include .table-bordered;
}

// .full-table-data {
// 	@extend .full-table;
// 	@extend .dataTable;
// }

.delete-form .btn {
	padding: 0 5px 0;
	color: #b80029;
}

.delete-form i {
	color: #b80029;
}