/app/config/keys.php
/app/storeage/*
/app/database/*.sqlite
/app/assets/build/*
/bootstrap/compiled.php
/vendor
/bower_components/*
/.sass-cache/*
/node_modules/*
composer.phar
composer.lock
.DS_Store